<launch>
	<!--assistant related-->
	<param name="aiml_path" value="$(find ros_aiml)/data" />
	<node name="aiml_server" pkg="ros_aiml" type="aiml_server.py" output="screen"/>

	<!--keyboard input-->
	<node name="aiml_client" pkg="ros_aiml" type="aiml_client.py" output="screen"/>

	<!--vocal output related-->
	<include file="$(find sound_play)/soundplay_node.launch"/>
	<node name="aiml_tts" pkg="ros_aiml" type="aiml_tts_client.py" output="screen"/>

</launch>
